@import './vars';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: $font-roboto;
    font-size: 16px;
    color: $white-color;
    background-color: $black-color;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: $orange-color1;
    cursor: pointer;
    transition: color $transition;
    
    &:hover {
        color: $orange-color2;
    }
}

ul {
    list-style: none;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}
