include mixins.pug

section.content__section.section
    .container.type1
        .content
            ul.cards__list
                li
                    +card1("./images/content-section/img1.webp", "img1", "Triple bonus on PGL Major quals cs", "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since", "...read more", "page404.html", "card type1")
                li
                    +card1("./images/content-section/img2.webp", "img2", "Triple bonus on PGL Major quals cs", "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since", "...read more", "page404.html", "card type1")