header.header
    .container.type1
        .content
            .left-part
                a(href="#" class="logo-wrapper")
                    svg(width="205", height="40", viewBox="0 0 205 40", fill="none", xmlns="http://www.w3.org/2000/svg")
                        path(d="M87.371 28.808L85.247 39.956H96.351L98.479 28.808H87.371Z", fill="#FF4800")
                        path(d="M92.839 0C92.839 0 90.411 12.972 88.327 23.6H112.187C113.663 23.6 114.791 24.944 114.531 26.42L114.183 27.94C113.923 29.328 112.707 30.328 111.275 30.328L103.595 30.372L101.771 39.96H116.563C121.247 39.96 125.239 36.708 126.151 32.108C126.455 30.416 126.847 28.68 127.147 27.032C127.927 23.04 124.675 20.048 120.595 20.048L120.855 18.748C125.063 18.616 128.055 16.448 128.839 12.284L129.403 9.116C130.235 4.38 126.679 0 121.863 0H92.839ZM115.875 11.8L115.743 12.624C115.439 14.184 114.051 15.312 112.491 15.312H102.687L103.815 9.28H113.795C115.139 9.328 116.135 10.544 115.875 11.8Z", fill="white")
                        path(d="M170.539 0L168.587 10.108H179.087L173.359 39.956H186.287L192.015 10.108H202.555L204.467 0H170.539Z", fill="white")
                        path(d="M58.087 17.268C58.867 13.148 61.559 10.152 66.679 10.152H85.899L87.763 0H63.339C54.835 0 48.587 3.296 45.899 14.404C44.987 18.136 44.379 22.212 43.687 25.944C42.299 33.188 47.807 39.956 55.183 40H80.215L84.987 15.4H64.727L63.119 23.644H71.447L70.279 29.76H62.167C56.699 29.76 56.311 26.724 56.919 23.424L58.087 17.268Z", fill="#FF4800")
                        path(d="M14.619 17.268C15.399 13.148 18.091 10.152 23.211 10.152H42.431L44.335 0H19.867C11.363 0 5.11496 3.296 2.42696 14.404C1.51496 18.136 0.906958 22.212 0.214958 25.944C-1.17304 33.144 4.33496 39.956 11.711 39.956H36.743L41.515 15.356H21.211L19.607 23.6H27.935L26.763 29.72H18.651C13.183 29.72 12.795 26.684 13.403 23.384L14.619 17.268Z", fill="#FF4800")
                        path(d="M134.659 5.12L129.063 34.88C128.587 37.528 130.583 39.912 133.271 39.912H162.815L164.723 29.932H142.555L143.771 23.556H159.911L161.471 15.356H145.375L146.371 10.148H165.591L167.547 0H140.779C137.827 0 135.223 2.168 134.659 5.12Z", fill="white")
            .middle-part
                nav.navigation
                    ul
                        li
                            a(href="page404.html") About Us
                        li
                            a(href="page404.html") Our Services
                        li
                            a(href="page404.html") Contacts
            .right-part
                .btn-container
                    button(id="contactBtn" class="btn btn-contact__type") Contact us
                .btn-controls
                    button(id="openMenu" class="btn btn-open-menu__type")
                        svg(width="30", height="30", viewBox="0 0 30 30", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(d="M23.75 7C24.4403 7 25 7.55963 25 8.25C25 8.94037 24.4403 9.5 23.75 9.5H6.25C5.55965 9.5 5 8.94037 5 8.25C5 7.55963 5.55965 7 6.25 7H23.75ZM23.75 13.75C24.4403 13.75 25 14.3096 25 15C25 15.6904 24.4403 16.25 23.75 16.25H6.25C5.55965 16.25 5 15.6904 5 15C5 14.3096 5.55965 13.75 6.25 13.75H23.75ZM23.75 20.5C24.4403 20.5 25 21.0596 25 21.75C25 22.4404 24.4403 23 23.75 23H6.25C5.55965 23 5 22.4404 5 21.75C5 21.0596 5.55965 20.5 6.25 20.5H23.75Z", fill="white")
                    button(id="closeMenu" class="btn btn-close-menu__type")
                        svg(width="30", height="30", viewBox="0 0 30 30", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd", clip-rule="evenodd", d="M14.9996 17.1428L21.4285 23.5716L23.5714 21.4288L17.1425 14.9999L23.5713 8.57111L21.4284 6.42824L14.9996 12.857L8.57128 6.42869L6.42841 8.57156L12.8568 14.9999L6.42835 21.4283L8.57121 23.5712L14.9996 17.1428Z", fill="white")