doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon", type="image/x-icon", href="favicon.ico")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css")
        link(rel="stylesheet", href="./css/main.css")
        title gg.bet
    body.page
        include components/header
        main.main
            include components/hero-section
            include components/content-section
        include components/footer
        script(src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js")
        script(type="module" src="./js/main.js")